.dismissn {
    cursor: pointer;
}
.ntf {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.ntf a{
    text-decoration: none;
    color: #383838;
}
.btn-cleanr a:visited {
    color: #fff;
}
.cleanr-icon-green {
    color:#47a747;
}
.cleanr-icon-green-darker {
    color:#0E5F0E;
}
header {
    text-align: center;
    padding-top: 300px;
    padding-bottom:200px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: scroll;
}
header h1{
    font-size: 6.5em;
    margin-top:0px;
}
header p{
    font-size: 2.2em;
}
.headertext {
    color: #fff;
}
main {
}
section {
    padding-bottom:150px;
    padding-top:150px;
}
footer {
    padding-top:100px;
    padding-bottom:25px;
}
.divmarginbtm {
    margin-bottom: 20px;
}
