.navbar-btn-fix {
  padding-left: 15px;
}

/* Collapsing Navbar Styles */

@media(min-width:768px) {
  .navbar-default {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    padding: 15px;
    /* Add additional styles here for the UNCOLLAPSED state */
    background: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
  }
  .navbar-default.affix {
      padding: -10px 0px 0px 0px;
      background: rgb(0,0,0);
      /* Add additional styles here for the COLLAPSED state */
    }
}

@media(min-width:768px) {
  .navbarScrolled {
    padding: 10px 0px 0px 0px;
    background: rgb(0,0,0);
    /* Add additional styles here for the COLLAPSED state */
  }
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}
