.header-schedule {
    background-image: url('res/img/header-bg-schedule.jpg');
  }
.sched-cols {
    max-width:120px;
    min-width:100px;
}
.slotdecrease {
    color: #d9534f;
}
.slotincrease {
    color: #5cb85c;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
