.divbox {
    min-width:100%;
    min-height:100%;
    width:100%;
    height:100%;
    display:block;
}

.divbox a {
    width:100%;
    height:100%;
    display:block;
}

.table-past-date {
    background-color: #ffffff;
}
.table-today {
    background-color: #ccffb3;
}
.table-upcoming-date {
    background-color: #e6f7ff;
}
.table-completed {
    opacity: .4;
}
