<template name="Account">
  {{#if currentUser}}
    {{#with userdata}}
      <section id="custdetails-sec-1" class="bg-light-gray">
        <div class="container">
        <div class="col-centered col-md-8">
          <div class="row bordered-section">
          <h1>Account Details</h1>
            <div class="col-md-6">
              <div class="profile-image">
                placeholder for profile image perhaps
              </div>
            </div>
            <div class="col-md-6">
              <p class="sec-heading">{{_id}}<br></p>
              <p class="sec-value">{{user_name}}<br></p>
              <p class="sec-value gethover">{{user_email}} <i class="fa fa-edit editicon changeEmail"></i></p>
              <p class="sec-value gethover">{{user_tel}} <i class="fa fa-edit editicon changeTel"></i></p>
              <p class="sec-value"><a href='/changepwd' class="btn btn-default">Change Password</a><br></p>
            </div>
          </div>

          <!-- addresses -->
          <div class="row bordered-section">
            <h1>Addresses</h1>
            <p class="sec-heading">Add up to 3 addresses.<br></p>
            <!-- TODO: set a margin (css) -->
            <br>
            <br>

            <div class="row">
              <div class="panel-group">
                <div class="panel cursor-link
                {{#if user_address.[0]}}
                panel-info
                {{else}}
                panel-default
                {{/if}}
                " data-toggle="collapse" href="#collapse0">

                  <div class="panel-heading">
                    <h4 class="panel-title">
                      Main Address
                      <span class="sec-heading">
                        <button class="btn btn-sm btn-default changeAddress" id="0">
                          {{#if user_address.[0]}}
                          Modify
                          {{else}}
                          Add
                          {{/if}}
                        </button>
                      </span>
                    </h4>
                  </div>
                  <div id="collapse0" class="panel-collapse collapse in">
                    <div class="panel-body">
                      {{#with user_address.[0]}}
                      <p class="sec-value">{{street}}<br></p>
                      <p class="sec-value">{{city}}<br></p>
                      <p class="sec-value">{{state}}<br></p>
                      <p class="sec-value">{{zip}}<br></p>
                      {{else}}
                      None Found
                      {{/with}}
                    </div>
                  </div>
                </div> <!-- /panel panel-default -->
                <div class="panel cursor-link
                {{#if user_address.[1]}}
                panel-info
                {{else}}
                panel-default
                {{/if}}
                " data-toggle="collapse" href="#collapse1">

                  <div class="panel-heading">
                    <h4 class="panel-title">
                      Address 2
                      <span class="sec-heading">
                        <button class="btn btn-sm btn-default changeAddress" id="1">
                          {{#if user_address.[1]}}
                          Modify
                          {{else}}
                          Add
                          {{/if}}
                        </button>
                      </span>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                      {{#with user_address.[1]}}
                      <p class="sec-value">{{street}}<br></p>
                      <p class="sec-value">{{city}}<br></p>
                      <p class="sec-value">{{state}}<br></p>
                      <p class="sec-value">{{zip}}<br></p>
                      <button class="btn btn-default setaddress" id="1">Use This Address as my Main Address</button>
                      {{else}}
                      None Found
                      {{/with}}
                    </div>
                  </div>
                </div> <!-- /panel panel-default -->
                <div class="panel cursor-link
                {{#if user_address.[2]}}
                panel-info
                {{else}}
                panel-default
                {{/if}}
                " data-toggle="collapse" href="#collapse2">

                  <div class="panel-heading">
                    <h4 class="panel-title">
                      Address 3
                      <span class="sec-heading">
                        <button class="btn btn-sm btn-default changeAddress" id="2">
                          {{#if user_address.[2]}}
                          Modify
                          {{else}}
                          Add
                          {{/if}}
                        </button>
                      </span>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                      {{#with user_address.[2]}}
                      <p class="sec-value">{{street}}<br></p>
                      <p class="sec-value">{{city}}<br></p>
                      <p class="sec-value">{{state}}<br></p>
                      <p class="sec-value">{{zip}}<br></p>
                      <button class="btn btn-default setaddress" id="2">Use This Address as my Main Address</button>
                      {{else}}
                      None Found
                      {{/with}}
                    </div>
                  </div>
                </div> <!-- /panel panel-default -->
              </div> <!-- /panel group -->
            </div> <!-- /row -->
          </div>


          <div class="row bordered-section">
            <h1>Sessions & Bookings</h1>

            <p class="sec-heading">Recent Sessions</p>
            <br>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Session ID</th>
                  <th class="text-center">Time Slot</th>
                  <th class="text-center">Status</th>
                </tr>
              </thead>
              <tbody>
                {{#each sesses this}}
                  <tr>
                    <td><a href="/vendorsessiondetails/{{_id}}">{{_id}}</a></td>
                    <td>{{d date}} {{s timeslot}}</td>
                    <td>{{sessionstatus}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            <p class="sec-value"><a href='#' class="btn btn-default">View More</a></p>
            <p class="sec-heading">Recent Bookings</p>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Booking ID</th>
                  <th class="text-center">Time Slot</th>
                  <th class="text-center">Last Session</th>
                </tr>
              </thead>
              <tbody>
                {{#each morebookings}}
                  <tr>
                    <td><a href="/booking/{{_id}}">{{_id}}</a></td>
                    <td>{{s timeslot}} every {{day}}</td>
                    <td>$ended</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            <p class="sec-value"><a href='#' class="btn btn-default">View More</a></p>
          </div>
        </div>
        </div> <!-- /container -->
      </section>
    {{else}}
      {{> Registration2}}
    {{/with}}
  {{else}}
    <section>
      <div class="container">
        <div class="row">
          <div class="text-center">
            <h2>Not Logged in</h2>
            <a href='/login' class="btn btn-lg btn-success">Sign in</a>
          </div>
        </div>
      </div>
    </section>
  {{/if}}
</template>
