<template name="Account">
  <div class="genericbackground">
    <div class="container headertext">
      <h1> Account Details <button class="btn btn-sm btn-info" id="demobtn"><i class="fa fa-question-circle fa-2x"></i></button> </h1>
    </div>
  </div>
  {{#if currentUser}}
    {{#with getuserdata}}
      <section id="custdetails-sec-1" class="bg-light-gray">
        <div class="container">
        <div class="col-centered col-md-10">
          <div class="row section-panel bordered-section">
            <h1>Personal Particulars</h1>
            <div class="col-md-6">
              <p class="sec-heading">{{_id}}<br></p>
              <p class="sec-value">{{user_name}}<br></p>
              <p id="useremail" class="sec-value gethover">{{currentUser.emails.[0].address}}<i class="fa fa-edit editicon changeEmail"></i></p>
              <p class="sec-value gethover">{{user_tel}} <i class="fa fa-edit editicon changeTel"></i></p>
              <p class="sec-value"><a id="changepwd" href="/changepwd" class="btn btn-default">Change Password</a><br></p>
            </div>
            <div class="col-md-6">
              <div class="profile-image">
                placeholder for profile image perhaps
              </div>
            </div>
          </div>

          <!-- addresses -->
          <div class="row section-panel bordered-section">
            <h1 id="useradds">Addresses</h1>
            <p class="sec-heading">Add up to 3 addresses.<br></p>
            <!-- TODO: set a margin (css) -->
            <br>
            <br>

            <div class="row">
              <div class="address-main-box">
                <h4>
                  Main Address
                  <span class="sec-heading">
                    <button class="btn btn-sm btn-default changeAddress" id="0">
                      {{#if user_address.[0]}}
                        Modify
                      {{else}}
                        Add
                      {{/if}}
                    </button>
                  </span>
                </h4>
                {{#with user_address.[0]}}
                  <p class="sec-value">{{street}}<br></p>
                  <p class="sec-value">{{city}}<br></p>
                  <p class="sec-value">{{state}}<br></p>
                  <p class="sec-value">{{zip}}<br></p>
                {{else}}
                  None Found
                {{/with}}
              </div>
            </div>
            <div class="row">
              <div class="panel-group">

                <!-- panel 2 -->
                <div class="panel cursor-link
                {{#if user_address.[1]}}
                  panel-info
                {{else}}
                  panel-default
                {{/if}}
                " data-toggle="collapse" href="#collapse1">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      Address 2
                      <span class="sec-heading">
                        <button class="btn btn-sm btn-default changeAddress" id="1">
                          {{#if user_address.[1]}}
                            Modify
                          {{else}}
                            Add
                          {{/if}}
                        </button>
                        {{#if user_address.[1]}}
                          <button class="btn btn-sm btn-default delAddress" id="1">
                            Remove
                          </button>
                        {{/if}}
                      </span>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                      {{#with user_address.[1]}}
                        <p class="sec-value">{{street}}<br></p>
                        <p class="sec-value">{{city}}<br></p>
                        <p class="sec-value">{{state}}<br></p>
                        <p class="sec-value">{{zip}}<br></p>
                        <button class="btn btn-default setaddress" id="1">Use This Address as my Main Address</button>
                      {{else}}
                        None Found
                      {{/with}}
                    </div>
                  </div>
                </div> <!-- /panel panel-default -->
                <div class="panel cursor-link
                {{#if user_address.[2]}}
                  panel-info
                {{else}}
                  panel-default
                {{/if}}
                " data-toggle="collapse" href="#collapse2">

                  <div class="panel-heading">
                    <h4 class="panel-title">
                      Address 3
                      <span class="sec-heading">
                        <button class="btn btn-sm btn-default changeAddress" id="2">
                          {{#if user_address.[2]}}
                            Modify
                          {{else}}
                            Add
                          {{/if}}
                        </button>
                        {{#if user_address.[2]}}
                          <button class="btn btn-sm btn-default delAddress" id="2">
                            Remove
                          </button>
                        {{/if}}
                      </span>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                      {{#with user_address.[2]}}
                        <p class="sec-value">{{street}}<br></p>
                        <p class="sec-value">{{city}}<br></p>
                        <p class="sec-value">{{state}}<br></p>
                        <p class="sec-value">{{zip}}<br></p>
                        <button class="btn btn-default setaddress" id="2">Use This Address as my Main Address</button>
                      {{else}}
                        None Found
                      {{/with}}
                    </div>
                  </div>
                </div> <!-- /panel panel-default -->
              </div> <!-- /panel group -->
            </div> <!-- /row -->
          </div>


          <div class="row section-panel bordered-section">
            <h1 id="usersbs">Sessions & Bookings</h1>

            <p class="sec-heading">Recent Sessions</p>
            <br>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="text-center">Session ID</th>
                    <th class="text-center">Date / Time</th>
                    <th class="text-center">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each sesses this}}
                    <tr class="rs-row">
                      <td><a href="/customersessiondetails/{{_id}}">{{_id}}</a></td>
                      <td>{{dateFormat date}} {{getslotbynum timeslot}}</td>
                      <td>
                        {{#if parsess sessionstatus}}
                          Completed | <button class="btn btn-xs btn-success"> Give feedback </button>
                        {{else}}
                          Pending
                        {{/if}}
                      </td>
                    </tr>
                    {{else}}
                      <tr class="rs-row">
                        <td colspan="3" class="text-center">
                          None found
                        </td>
                      </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            {{#if sesses this}}
              <div class="divmarginbtm">
                <span class="sec-value"><button class="btn btn-default vm-rs">View More</button></span>
                <span class="sec-value"><button class="btn btn-default vl-rs">View Less</button></span>
              </div>
            {{/if}}
            <p class="sec-heading">Recent Bookings</p>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="text-center">Booking ID</th>
                    <th class="text-center">Time Slot</th>
                    <th class="text-center">Date Booked</th>
                    <th class="text-center">Subscription Status</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each morebookings}}
                    <tr class="mb-row">
                      <td><a href="/booking/{{_id}}">{{_id}}</a></td>
                      <td>{{getslotbynum timeslot}} every {{day}}</td>
                      <td>{{dateFormat subdate}}</td>
                      <td>{{substatus this}}</td>
                    </tr>
                    {{else}}
                      <tr class="rs-row">
                        <td colspan="3" class="text-center">
                          None found
                        </td>
                      </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            {{#if morebookings this}}
              <div class="divmarginbtm">
                <span class="sec-value"><button class="btn btn-default vm-mb">View More</button></span>
                <span class="sec-value"><button class="btn btn-default vl-mb">View Less</button></span>
              </div>
            {{/if}}
          </div>
        </div>
        </div> <!-- /container -->
      </section>
    {{else}}
      {{> Registration2}}
    {{/with}}
  {{else}}
    <section>
      <div class="container">
        <div class="row">
          <div class="text-center">
            <h2>Not Logged in</h2>
            <a href='/login' class="btn btn-lg btn-success">Sign in</a>
          </div>
        </div>
      </div>
    </section>
  {{/if}}
</template>
