<template name="Booking">
{{#with booking}}
  <section id="bookingdetails-sec-1" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <h2>Booking Details</h2>
          <p class="sec-heading">{{_id}}<br></p>
          {{#with cust custID}}
            <p class="sec-heading"><a href="/vendorcustomer/{{_id}}/">{{user_name}}</a></p>
          {{/with}}
          <p class="sec-value">Submitted on {{subdate subdate}}</p>
            <p class="sec-heading">Subscription status:</p>
            {{#with getsubstatus this}}
              <p class="sec-value">Active
              <a class="btn btn-danger btn-cancel-booking">Cancel</a></p>
            {{else}}
              <p class="sec-value">Not Active</p>
            {{/with}}
        </div>
      </div>
      <div class="row">
        <div class="row-same-height">

          <div class="col-md-4 col-sm-height text-center">
          </div>

          <div class="col-md-4 col-sm-height text-center">
            <div class="info">
              <p class="sec-heading">Address:<br></p>
              {{#with cust custID}}
              <p class="sec-value">{{user_address.[0].street}}<br></p>
              <p class="sec-value">{{user_address.[0].city}}<br></p>
              <p class="sec-value">{{user_address.[0].state}}<br></p>
              <p class="sec-value">{{user_address.[0].zip}}<br></p>
              {{/with}}
            </div>
          </div>

          <div class="col-md-4 col-sm-height">
          </div>

        </div> <!-- row same height -->
      </div>  <!-- row -->

      <div class="row">
        <div class="row-same-height">
          <div class="col-md-12 col-sm-height text-center">
            <h2>Corresponding Sessions</h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Session ID</th>
                  <th class="text-center">Time Slot</th>
                  <th class="text-center">Booking ID</th>
                  <th class="text-center">Mattress Cleaning</th>
                  <th class="text-center">Carpet Cleaning</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Feedback</th>
                </tr>
              </thead>
              <tbody>
                {{#each sesses this}}
                <tr>
                  <td><a href="/vendorsessiondetails/{{_id}}">{{_id}}</a></td>
                  <td>{{d date}} {{s timeslot}}</td>
                  <td>{{bookingID}}</td>
                  <td>$mc</td>
                  <td>$cc</td>
                  <td>{{sessionstatus}}</td>
                  <td>{{feedback}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div> <!-- row -->
      <div class="row">
        <button class="btn btn-default lessbtn">Show Less</button>
        <button class="btn btn-default morebtn">Show More</button>
      </div>
    </div> <!-- container -->
  </section>> <!-- section -->
{{else}}
  booking not found/not authorized
{{/with}}

</template>
