<template name="Header">
<nav id="mainNav" class="navbar-default navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><img src="/res/img/cleanr-logo.png" class="navbar-brand-logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#if currentUser}}
          {{#with getuserdata}}
            {{#if user_name}}
              <li id="accountcp"><a href="{{pathFor 'account'}}">Welcome, {{user_name}}</a></li>
            {{else}}
              <li><a href="{{pathFor 'account'}}">Welcome, {{currentUser.emails.[0].address}}</a></li>
            {{/if}}
          {{/with}}
        {{/if}}
        {{> NavbarUserControl}}
        <!-- <li class="divider-vertical"></li> -->
        {{#if isInRole 'vendor'}}
          <li id="vendormenu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vendor Actions<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li id="vendorcp"><a href="/vendorcp">Control Panel</a></li>
              <li id="vendorws"><a href="/vendorworkschedule">Schedule</a></li>
              <li id="vendorsf"><a href="/vendorspecify">Specify Slots</a></li>
              <li id="vendorcl"><a href="/vendorcustomers">Customers</a></li>
              <li role="separator" class="divider"></li>
              <li id="vendorsds"><a href="/vendorregistration">Set Default Schedule</a></li>
            </ul>
          </li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="vendormenu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lg fa-bell"></i></a>
          <ul class="dropdown-menu">
            {{#each notificationfound}}
              {{#if isNewVendorSess this}}
              <li class="ntf"><span><a href="/vendorsessiondetails/{{this.sid}}">New assigned session: {{#with sessbysessid this.sid}} {{dateToDay date}} {{dateFormat date}} {{/with}} </a><i id="{{_id}}" class="fa fa-close dismissn"></i></span></li>
              {{/if}}
            {{else}}
            <li class="ntf">No new notifications</li>
            {{/each}}
          </ul>
        </li>
        <li>
          <p class="navbar-btn-fix">
            <button id="demobtn" class='btn btn-lg btn-info'>Demo</button>
          </p>
        </li>
        <li>
          <p class="navbar-btn-fix">
            <a href='/schedule' id="booknowbtn" class='btn btn-lg btn-success'>Book Now</a>
          </p>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script>
$('#mainNav').affix({
  offset: {
    top: 100
  }
})
</script>
</template>
