<template name="HomeLayout">
  {{> Header }}

<header>
  <div class="container headertext">
    <h1>A clean home starts here.</h1>
    <p>Book part-time cleaners, conveniently.</p>
    <!-- change to a link? -->
    <button class='btn btn-lg btn-success btn-cleanr' onclick="FlowRouter.go('/schedule');">Book Now</Button>
  </div>
</header>
  <section id="how-it-works">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">What we Offer</h2>
            <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3 -->
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-th-list fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Scheduling</h4>
          <p class="text-muted">Get an overview of all the time slots with available maids. Directly book the slots you want, immediately. No waiting for confirmation required.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa  fa-group fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Part-time Maids</h4>
          <p class="text-muted">Enjoy the convenience of reliable part-time maids who will ensure that your home is spick and span. Maids come from agencies that are fully-vetted by Cleanr.my, so sit back, relax, and look forward to your clean home.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Automatic Billing</h4>
          <p class="text-muted">Make payment securely online. Payments are based on a subscription model, and will automatically recur every month until you opt out from the service. Say goodbye to the hassle of making monthly cash payments. </p>
        </div>
    </div>
  </div>
  </section>
  {{> Footer}}
</template>
