<template name="Passwordrecovery">
  <section>
    <div class="container">
      <div class="row">
        <div class="text-center">
          <h1>Password Recovery</h1>
          <br>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-centered col-md-6">
          <form class="form-horizontal login">
            <div class="form-group">
              <div class="col-sm-3 control-label">
              </div>
              <div class="col-sm-6">
                <input type="email" name="email" id="email" placeholder="Enter E-mail" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-3 control-label">
              </div>
              <div class="col-sm-6">
                <input type="submit" value="Send recovery e-mail" class="btn btn-block btn-success">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-3 control-label">
              </div>
              <div class="col-sm-6 text-center">
          <a href="/login">Sign in</a> | <a href="/registration">Register</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>
