  <template name = "Registration2">
  <div class="container">
    <div class="col-centered col-md-4">
      Please fill in additional data to complete your profile.<br><br>
      <form class="register">
        <p>Name:</p>
        <p><input type="text" name="name"></p>
        <p>tel:</p>
        <p><input type="text" name="tel"></p>
        <p>address:</p>
        <p><input type="text" name="address1" placeholder="Street"></p>
        <p><input type="text" name="address2" placeholder="City"></p>
        <p><input type="text" name="address3" placeholder="State"></p>
        <p><input type="text" name="address4" placeholder="ZIP"></p>
        <p><input type="submit" value="Complete Registration"></p>
      </form>
      <button class="faker btn-btn-default">fake</button>
    </div>
  </div>
</template>
