<template name = "Registration">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-centered col-md-4">
          {{#unless currentUser}}
          <form class="register">
            <p>Email: <input type="email" name="email"></p>
            <p>Password: <input type="password" name="password"></p>
            <p>Account Type:
            <select name="accounttype">
              <option value="customer">Customer</option>
              <option value="vendor">Vendor</option>
            </select></p>

            <p><input type="submit" value="Register"></p>
          </form>
          {{else}}
          {{loginredirect}}
          {{/unless}}
        </div>
      </div>
    </div>
  </section>
</template>
