<template name="Schedule">
  <header class="header-schedule">
    <div class="container headertext">
      <h1>Book a time slot.</h1>
      <p>Schedule appointments up to 4 weeks in advance.</p>
    </div>
  </header>
  <section>
    <div class="container">
      <button class="btn prevweekbtn">Previous Week</button>
      <button class="btn resetweekbtn">Jump To Current Week</button>
      <button class="btn nextweekbtn">Next Week</button>
      <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Time Slots</th>
            <th>Monday <br> {{weekdates 0}}</th>
            <th>Tuesday <br> {{weekdates 1}}</th>
            <th>Wednesday <br> {{weekdates 2}}</th>
            <th>Thursday <br> {{weekdates 3}}</th>
            <th>Friday <br> {{weekdates 4}}</th>
            <th>Saturday <br> {{weekdates 5}}</th>
            <th>Sunday <br> {{weekdates 6}}</th>
          </tr>
        </thead>
        <tbody>
          {{>schedtable timeslots}}
        </tbody>
      </table>
      </div>
    </div>
  </section>
</template>

<template name="schedtable">
{{#each this}} <!-- will iterate over each timeslot -->
    <tr>
      <td>{{slot}}</td>
      {{>eachslot days num}}
    </tr>
  {{/each}}
</template>

<template name="eachslot">
  {{#each this}}
    <td>
      {{#if hasopen date n}} <!-- if has open slot on that day... -->
      <button class="btn btn-success bookbtn" id="{{date}} {{n}}">Book this slot</button>
      {{else}}
        <button class="btn btn-disabled" >Not Available</button>
      {{/if}}
    </td>
  {{/each}}
</template>
