<template name="Schedule">
  <header class="header-schedule">
    <div class="container headertext">

      <h1>Book a time slot. <button class="btn btn-sm btn-info" id="demobtn"><i class="fa fa-question-circle fa-2x"></i></button></h1>
      <p>Schedule appointments up to 4 weeks in advance.</p>
    </div>
  </header>
  <section>
    <div class="container">
      <ul class="pagination">
        <li class="changeweekbtn active" id="s{{weekdates 0}}"><a href="#">1</a></li>
        <li class="changeweekbtn" id="s{{weekdates 1}}"><a href="#">2</a></li>
        <li class="changeweekbtn" id="s{{weekdates 2}}"><a href="#">3</a></li>
        <li class="changeweekbtn" id="s{{weekdates 3}}"><a href="#">4</a></li>
        <li class="changeweekbtn" id="s{{weekdates 4}}"><a href="#">5</a></li>
      </ul>
      <div class="table-responsive" id="scrollthis">
        <table class="table table-special table-hover" data-spy="scroll" data-target="#pager">
          <thead>
            <tr>
              <th>Time Slots</th>
              {{#each fulldates}}
              <th class="{{#if lastday}}divided{{/if}}" id="{{date}}">
                {{day}} <br> {{date}}
              </th>
              {{/each}}
              <!-- <th>Monday <br> {{weekdates 0}}</th> -->
              <!-- <th>Tuesday <br> {{weekdates 1}}</th> -->
              <!-- <th>Wednesday <br> {{weekdates 2}}</th> -->
              <!-- <th>Thursday <br> {{weekdates 3}}</th> -->
              <!-- <th>Friday <br> {{weekdates 4}}</th> -->
              <!-- <th>Saturday <br> {{weekdates 5}}</th> -->
              <!-- <th>Sunday <br> {{weekdates 6}}</th> -->
            </tr>
          </thead>
          <tbody>
            {{>schedtable timeslots}}
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>

<template name="schedtable">
{{#each this}} <!-- will iterate over each timeslot -->
    <tr>
      <td>{{slot}}</td>
      {{>eachslot days num}}
    </tr>
  {{/each}}
</template>

<template name="eachslot">
  {{#each this}}
  <td class="tsbtn {{#if lastday}}divided{{/if}}">
      {{#if dateover date n}}
        <button class="btn disabled">
          Too late
        </button>
      {{else}}
        {{#if hasopen date n}}
          <button class="btn
            btn-success bookbtn"
          id="{{date}} {{n}}">
                Book this slot
          </button>
        {{else}}
          <button class="btn
            disabled">
            Not available
          </button>
        {{/if}}
      {{/if}}
    </td>
  {{/each}}
</template>
