<template name="SessionConfirmation">
<h2>session confirmation area.<br></h2>
  Your Package Info:<br>
  {{#each found}}
  Package #{{getJobPackage}}
  <br>
  <!-- {{> jobitem}} -->
  <br>
  <br>
  Scheduling Details:<br>
  ph-job-timewindow<br>
  ph-job-day<br>
  <br>
  First Session On:<br>
  {{getJobDate}}<br>
  <br>
  Total Price:<br>
  ph-job-totalprice<br>
  <br>
  {{/each}}
  <form class='ip'>
  <button type="submit" class="btn btn-editpackage">Edit Package</button>
  </form>
  <br>
  <br>
  Customer Details:<br>
  {{userdata.user_name}}<br>
  {{userdata.user_tel}}<br>
  {{userdata.user_email}}<br>
  <br>
  Cleaning Location:<br>
  {{userdata.user_address.[0].street}}<br>
  {{userdata.user_address.[0].city}}<br>
  {{userdata.user_address.[0].state}}<br>
  {{userdata.user_address.[0].zip}}
  <button type="submit" class="btn btn-changeaddress">Change Address</button>
  <br>
  <br>
  <button class="btn btn-proceedtopayment">Proceed to Payment</button>
</template>
